<div class="row visible-xs">
    <span class="col-xs-10 col-xs-offset-1">
        <center>
            <a class="btn-card" {{action "onClick"}} disabled={{beat}}>
                <div class="card card-block">
                    <span class="pull-left"><b>{{title}}</b></span>
                    <span class="pull-right">Add {{number}}</span>
                </div>
            </a>
        </center>
    </span>
</div>
<div class="hidden-xs">
    <span class="col-md-3 col-md-offset-1">
        <center>
            <a class="btn-card" {{action "onClick"}} disabled={{beat}}>
                <div class="card card-block">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Add {{number}}</p>
                </div>
            </a>
        </center>
    </span>
</div>
