<div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3>{{levelTitle}}</h3>
    <em>Reach the number {{goalNumber}} in the least number of clicks, without going over.</em>
    <br>
    <small><b>Turns Spent:</b> {{turns}}</small>
    <br>

    <div class="row">
        <center>
            <span class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-4">
                {{#if beat}}
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <p>Done!</p>
                            <p>
                                {{#if fewestClicks}}
                                    You beat this problem in the fewest number of clicks!
                                {{else}}
                                    You used {{turns}} clicks but it could have been beaten in {{goalClicks}} clicks.
                                {{/if}}
                            </p>
                            <p><button class="btn btn-primary" {{action "loadNextLevel"}}>Next -></button></p>
                        </div>
                    </div>
                    {{#unless showOne}}
                        This was kind of a trick question 1 in binary = 1 in decimal = 1 in hexadecimal.  We'll add an additional button for adding one.
                    {{/unless}}
                {{else}}
                    <center>
                        <div class="card card-inverse card-primary visible-xs">
                            <div class="card-block">
                                <p class="card-text">Decimal</p>
                                <p class="card-text">
                                    <span class="text-lg">{{currentNumber}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="card card-inverse card-primary hidden-xs">
                            <div class="card-block">
                                <p class="card-text">Decimal</p>
                                <p class="card-text">
                                    <span class="text-lg">{{currentNumber}}</span>
                                </p>
                            </div>
                        </div>
                    </center>
                {{/if}}
            </span>
        </center>
    </div>

    <div class="row">
        <center>
            <span class="col-xs-3 col-xs-offset-5">
                {{#if wentOver}}
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            Sorry, you went over!
                        </div>
                    </div>
                {{/if}}
            </span>
        </center>
    </div>


    <div class="row">
        {{adder-button addNumber=(action "addBinary") number=addBinaryNumber title="Binary" beat=beat}}
        {{adder-button addNumber=(action "addDecimal") number=addDecimalNumber title="Decimal" beat=beat}}
        {{adder-button addNumber=(action "addHexadecimal") number=addHexadecimalNumber title="Hexadecimal" beat=beat}}
        <div class="row visible-xs">
            {{#if showOne}}
                <span class="col-xs-10 col-xs-offset-1">
                    <center>
                        <a class="btn-card" {{action "addOne"}} disabled={{beat}}>
                            <div class="card card-block">
                                <p class="card-text">Add 1</p>
                            </div>
                        </a>
                    </center>
                </span>
            {{/if}}
        </div>

        <div class="row hidden-xs">
            {{#if showOne}}
                <span class="col-md-3 col-md-offset-5">
                    <center>
                        <a class="btn-card" {{action "addOne"}} disabled={{beat}}>
                            <div class="card card-block">
                                <p class="card-text">Add 1</p>
                            </div>
                        </a>
                    </center>
                </span>
            {{/if}}
        </div>

        <!--
        <span class="col-xs-3 col-xs-offset-1">
            <center>
                <a class="btn-card" {{action "addDecimal"}} disabled={{beat}}>
                    <div class="card card-block">
                        <h5 class="card-title">Decimal</h5>
                        <p class="card-text">Add {{addDecimalNumber}}</p>
                    </div>
                </a>
            </center>
        </span>

        <span class="col-xs-3 col-xs-offset-1">
            <center>
                <a class="btn-card" {{action "addHexadecimal"}} disabled={{beat}}>
                    <div class="card card-block">
                        <h5 class="card-title">Hexadecimal</h5>
                        <p class="card-text">Add {{addHexadecimalNumber}}</p>
                    </div>
                </a>
            </center>
        </span>
        -->
    </div>
    <br />
    {{outlet}}
</div>
